/* A few CSS classes I take everywhere with me */
    
.limitReadable {
    max-width: 770px !important;
    line-height: 1.75;
}

.fullWidth {
    width: 100% !important;
}
.fullHeight {
    height: 100% !important;
}

.nopadding {
    padding: 0 !important;
}

.nomargin {
    margin: 0 !important;
}

.nospacing {
    margin: 0 !important;
    padding: 0 !important;
}

.clickable {
    cursor: pointer !important;
}
